body{
    margin:auto;
    width:80%
}
img {
    border-radius: 70%;
    width: 200px;
    height: 300px;
    align-items: center;
}
.div1 {
   background-color: aqua; 
   float: left;
   width: 50%;
   
   
}
.div2 {
    text-align: center;
    
}
.div3 {
   text-align: center; 
}
.div4 {
    
    background-color: gray;
    text-align: center;
}
.div5 {
    float: right;
    width: 50%;
     
}